<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloger</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Home <a href="home.html"></a></li>
            <li>Sign in <a href="singin.html"></a></li>
            <li>Sign up<a href="singup.html"></a></li>
            <li>About<a href="about.html"></a></li>
        </ul>
    </nav>
</header>
<form th:action="@{/register}"></form>
<footer> <p> Copyring &copy 2018</p></footer>
</body>
</html>